/* ------> IMPORTS <------------*/

/* YO PUEDO DARLE ESTILOS EN DISTINTOS CSS EJ
SI YO QUIERO TENER SOLO LOS ESTILOS DEL HEADER: CREO UN ARCHIVO: HEADER.CSS Y APLICO LOS ESTILOS DEL HEADER
Y PARA IMPORTARLO, CREO UN INDEX.CSS Y AHI IRIAN TODOS LAS URL DE LOS ARCHIVOS IMPORTADOS, SE HARIA DE ESTA FORMA:
@import "url(ruta del archivo" ---> si ubiera creado el archivo header.css y mi index este mismo archivo 
escribiria: @import "./header.css"; */
@import url("./normalize.css");


/*-------------> NORMALIZACION <------------------ */
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family:var(--roboto)
}
/*--------------------> ESTILOS PROPIOS <---------------------------- */
body{
    font-family: var(--roboto);
    background-color: #ebebeb;
}

h3 {
font-size: var(--title-md);
}
p{
    font-size: var(--text-sm)
}


/* ------------------------------------> VARIABLES <----------------------------------------------------------*/
:root {
    
    --amarillo: #EAC926;
    --azul: #03264c;
    --celeste: #1259c3;
    --grisOscuro: #666666;
    --grisClaro:#ebebeb;
    --verde:#39b54a;
    --negro: #000000;
    --gris: #666666;
    --blanco: #ffffff;
     /*fuentes*/
     --text-sm: 1.2em;
     --text-md: 1.6em;
     --text-lg: 1.8em;
     --title-md: 2.4em;
     /*familias de fuentes */
     --roboto: 'Roboto', sans-serif;

}

/* ---------------------------------> ESTILOS DEL HEADER <----------------------------------------*/
.main-header{
    background-color: var(--amarillo);
    padding:20px;
    width:100%;
    position:fixed;
    top:0;
    z-index:100;
}
.main-header-top-bar  {
    width:100%;
    margin-top:10px;
}
.logo{
    width:200px;
}
.copy-header {
    font-weight: 400;
    text-align: center;
    margin: 10px;
}
form.search-header{
    display:flex;
    justify-content: stretch;
    align-items: end;
    border-radius:20px;
}
.buttom-submit{
    border-radius:0px 10px 10px 0px;
}
.search {
    font-size: 25px;  
}
.fa-search{
    font-size: 30px;
    border-radius:0px 10px 10px 0px;
}
/* ------------------> FIN Estilos del header <-----------------------*/

/* -----> BOTON DE HAMBURGUESA <-----*/
.hamburguer-button{
    background-color: var(--azul);
    color:var(--blanco);
    display:block;
    max-width: 50px;
    padding:15px 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 17px;
    margin:auto;
}
/* -----> FIN  BOTON DE HAMBURGUESA <----------*/
/* ------> MAIN OPTIONS<-------*/
.main-navbar{
    display: none;
    font-size: var(--text-sm);
}
.main-navbar ul{
    list-style: none;
    padding:0px;
    margin: 9px; 
}
.main-navbar a{
    text-decoration:none;
    color:#222222;
    display: inline-block;
    padding:5px 0px;
    font-size: 17px;
}
/*------------> FINAL MAIN OPTIONS <-----------*/
/*------------>BANNER<--------------*/
.banner img{
    width:100%;
    margin-top:-160px; 
}
/*------------------>FINAL DEL BANER<-----------------*/
/*-----> OPTIONS ARTICLES <-----*/
main{
    width:90%;
    margin: 0px auto; 
}

article div.main-article{
    width:100%;
    border:1px solid var(--grisClaro);
    padding: 15px;
    position:relative;
}
main section article i{
    
    color:var(--verde);
    font-size: var(--text-md);
    background-color: #FFF;
    border: 1px solid var(--verde);
    border-radius: 50%;
    padding: 8px;
    display:block;
    padding: 5px;
    width: 30px;
    height: 30px;
    top: -15px;
    right: 20px;
    position: absolute;
    transition: transform 0.5s;
} 
main section article:hover i{
    transform: rotate(-90deg);
}
.price-discount{
    display:flex;
    gap: 10px;
    align-items: baseline;
}
main div p.discount{
    color:var(--verde);
}
main section article{
    background-color: var(--blanco);
    margin:10px;
    
}
main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
main h2{
    color:rgb(131, 131, 131);
}
h2{
    margin-top: 30px;
    font-size: 25px;
}

main .description{
    color: var(--gris);
    font-size: 20px;
}

h3.description{ 
    margin: 10px 0px;
    display: none;
    opacity: 0px;
    transition: opacity 0.5s  display linear ;
}
main section article:hover .description{
   opacity: 1px;
   display: block;
}

.offers article{
    background-color: var(--blanco);
}

.last-visit article{
    background-color: var(--blanco);
}


main section article img{
    width:100%;
  
}


.main-article{
    width: 100%;
    border: 5px solid var(--grisClaro);
    padding:15px;
    margin: 10px 0;

}


.discount, .description{

    font-size:16px;
    font-weight:normal;
 
}
.price{
    font-size: var(--text-lg);
}
/*-------------> FINAL OPTIONS ARTICLES <-------------------*/
/* ---->  FOOTER <-------*/ 

section div h4.iconos{
    background-color: #ebebeb;
    font-size: 20px;
    color: var(--celeste);
    text-align: center;
}
section div h4.iconos:hover{
    background-color: #ebebeb;
    color:black;
}

section div h4.titulo{
    text-align: center;
   color: var(--gris);
}
section div p.texto{
    color: var(--grisOscuro);
    text-align: center;
    margin-bottom: 15px;
}

h6{
    color: gray;
    margin-left:10px;
    margin-bottom: 20px;
}
.footer{
    margin:20px;
}

/* ----------------------------------> RESPONSIVE <--------------------------------*/

@media (min-width: 360px){
    
    .logo{
        width:163px;  
    }
    form.search-header{
        margin-top:10px;
        width:140px;
        height:20px;
        align-items: stretch;
        border:none;
        border-radius:10px;
        margin-left:10px;
    }
    .search{
        font-size: 10px;
        padding:5px;
        border:none;
        color:rgba(128, 128, 128, 0.63);
        font-weight: 150px;
        border-radius: 8px 0px 0px 8px; 
    }
    .buttom-submit{
        font-size:10px;
        background-color: white;
        border:none;
        border-radius: 0px 8px 8px 0px;
        border-left:var(--grisClaro) 1px solid;
        padding:5px;
    }
    .fa-search{
        font-size:15px;
        color:rgba(128, 128, 128, 0.63);
    }
    h2.copy-header{
        font-size:14px;
        margin-left:25px;
    }
    .main-header-top-bar{
        display:flex;
        flex-wrap:wrap;
    }
    .description{
        display: block;
    }
    .main-navbar{
        display: none;
    }
    .banner img{
        margin-top: 170px;
    }
}
@media (min-width: 780px){
    .logo{
        width:240px;
    }
    .main-header-top-bar{
        display:flex;
        flex-wrap:nowrap;
    }
    form.search-header{
        margin-top:15px;
        margin-left:10px;
        width: 240px;
        height: 30px;
        align-items: stretch;
    }
    .buttom-submit{
        padding:2px;
    }
    .search{
        width:210px;
    }
    h2.copy-header{
        margin-left: 4px;
        font-size: 12px;
        margin-top:23px;
    }
    .copy-header{
        max-width: 350px;
        text-align: right; 
    }
    .hamburguer-button{
        display: none;
    }
    .main-navbar{
        display:flex;
        justify-content: space-between;
        margin-top:20px;
    }
    .main-navbar ul{
        display: flex;
        justify-content: center
    }
    .main-navbar li{
        margin: 0px 5px;
    }
    .box-1{
        display:flex;
        gap: 75px;
        margin-top:35px;
    }  
    .banner img{
        margin-top:180px;
    }
}
@media(min-width: 1200px){
    .logo{
        width: 400px;
    }
    .main-header-top-bar{
        display:flex;
        justify-content: center;
        max-width:1200px;
        gap:30px;
    }
    form.search-header{
        width: 280px;
        margin-top:41px;
    }
    .search{
        width:260px;
    }
    h2.copy-header{
        margin-top:45px;
        font-size:17px;
        height: 40px;
    }
    .main-navbar{
        margin-top:25px; 
        max-width:1200px;
    }
    .main-navbar li{
        margin: 0px 10px;
    }
    .main-navbar a{
        font-size:19px;
    }
    .product-container{
        display: flex;
    }
    .box-1{
        display:flex;
        gap: 35px;
       flex-direction: flex;
       margin-right: 35px;
    }
    .footer{
        margin-top:30px;
        display:flex;
        font-size:15px;
        gap: 15px;
    }
    .option-footer{
    padding:10px 60px;
    }
    .copyright{
        font-size: 20px;
        margin-left:25px;
        margin-bottom:50px;
    }
    .banner img{
        margin-top:230px;
    }
}